/* Reset da configuração de fábrica */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    box-sizing: border-box;
}


/* Corpo da página */

body {
    background-color: #eeeeee;
}


/* Conteúdo principal */

main {
    max-width: 90%;
    background-color: rgb(177, 178, 239);
    margin: 20px auto;
    padding: 2em;
}


/* Título principal */

h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* Todas as seções */

section {
    background-color: white;
    border: 2px solid #363686;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


/* Título das seções */

section h2 {
    color: #3b38f6;
    margin-bottom: 10px;
}


/* Parágrafos */

section p {
    margin-bottom: 15px;
    line-height: 1.5;
}


/* Imagens */

section img {
    max-width: 200px;
    display: block;
    margin: 10px 0;
}


/* Áudio */

section audio {
    display: block;
    margin: 15px 0;
    max-width: 100%;
}


/* Vídeo */

section video {
    display: block;
    margin: 15px 0;
    max-width: 100%;
}


/* Links */

section a {
    display: inline-block;
    margin-top: 10px;
    color: #3b38f6;
    text-decoration: none;
    font-weight: bold;
}


/* Quando passar o mouse no link */

section a:hover {
    text-decoration: underline;
}


/* Listas */

li {
    margin: 5px 0;
}